In [4]:
import nnts
import nnts.data
import nnts.plotting
import nnts.torch.preprocessing
import nnts.torch.models
import nnts.metrics
import nnts.torch.datasets
import nnts.loggers
import nnts.datasets
from nnts import utils
import nnts.torch.utils
import nnts.torch.trainers
import nnts.metrics
import nnts.torch

import torch
torch.set_printoptions(precision=8, sci_mode=False)
%load_ext autoreload
%autoreload 2

Python(98463) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.
Python(98481) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.
Python(98482) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

In [5]:
df, metadata = nnts.datasets.load_dataset("tourism_monthly")

In [6]:
df

             y          ds unique_id
0    1149.8700  1979-01-31        T1
1    1053.8002  1979-02-28        T1
2    1388.8798  1979-03-31        T1
3    1783.3702  1979-04-30        T1
4    1921.0252  1979-05-31        T1
..         ...         ...       ...
235  7778.0000  2000-08-31      T366
236  7859.0000  2000-09-30      T366
237  4802.0000  2000-10-31      T366
238  2426.0000  2000-11-30      T366
239   637.0000  2000-12-31      T366

[109280 rows x 3 columns]

In [17]:
metadata.context_length = 32

In [18]:
test_df = df.groupby("unique_id").tail(metadata.context_length+metadata.prediction_length)
test_df.to_csv("test.csv", index=False)

In [19]:
ctx_df = test_df.groupby("unique_id").head(metadata.context_length)
ctx_df.to_csv("context.csv", index=False)